.header__container {
    @extend %container;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    @extend %logo;

    display: block;

    padding-top: 16px;
    padding-bottom: 16px;
}

.logo__accent {
    color: $accent-color;
}

.logo--header {
    margin-right: 88px;
}

.nav {

    &.is-open {
        display: block;
    }

    @media screen and (max-width: 767px) {
        display: none;

        z-index: 1;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        padding-top: 60px;
        padding-bottom: 60px;

        border-top: 1px solid #ECECEC;
        background-color: $background-card;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 
        0px 2px 4px rgba(0, 0, 0, 0.08), 
        0px 1px 3px rgba(0, 0, 0, 0.16);
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.nav__site {
    @media screen and (max-width: 767px) {
        width: 99px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 48px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.nav__item {

    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    @media screen and (min-width: 768px) {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.nav__link {
    position: relative;
    display: inline-block;
    padding-bottom: 12px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $black-text-color;

    transition: color 250ms $transition-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;

        font-size: 14px;
        line-height: 1.14;
    }
}

.nav__link--current {
    color: $accent-color;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 4px;

        background-color: $accent-color;
        border-radius: 2px;
    }
}

.nav__contact {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        justify-content: center;
        align-items: center;

        margin-top: 21px;
        margin-bottom: 21px;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.contact__link {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: auto;
    margin-left: auto;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-decoration: none;
    color: $primary-text-color;

    transition: color 250ms $transition-function;

    @media screen and (max-width: 767px) {
        &:first-child {
            margin-bottom: 16px;
        }
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 12px;
        line-height: 1.16;

        margin-left: 0;

        &:first-child {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;

        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.contact__icon {
    fill: $primary-text-color;
    margin-right: 10px;

    transition: fill 250ms $transition-function;

    .contact__link:hover &,
    .contact__link:focus & {
        fill: $accent-color;
    }

    @media screen and (min-width: 768px) {
        margin-right: 8px;
        width: 14px;
        height: 10px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
        width: 16px;
        height: 12px;
    }
}

.contact__icon--tel {
    @media screen and (min-width: 768px) {
        width: 10px;
        height: 14px;
    }

    @media screen and (min-width: 1200px) {
        height: 16px;
    }
}

.button-menu {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;

    border: none;
    background-color: $background-card;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.button-menu__icon-open {
    display: block;

    transition: fill 250ms $transition-function;

    .button-menu:hover &,
    .button-menu:focus & {
        fill: $accent-color;
    }

    .button-menu.is-open & {
        display: none;
    }
}

.button-menu__icon-close {
    display: none;

    transition: fill 250ms $transition-function;

    .button-menu:hover &,
    .button-menu:focus & {
        fill: $accent-color;
    }

    .button-menu.is-open & {
        display: block;
    }

}