.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 400px;

    margin-right: auto;
    margin-left: auto;
    padding-left: 60px;
    padding-right: 60px;

    background-image: url(../../images/hero/Header-mob1x.jpg);
    background-color: #C4C4C4;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {

        background-image: url(../../images/hero/Header-mob2x.jpg);
    }

    @media screen and (min-width:480px) and (max-width:767px) {
        width: 480px;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 768px;
        background-image: url(../../images/hero/Header-tablet1x.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {

            background-image: url(../../images/hero/Header-tablet2x.jpg);
        }
    }

    @media screen and (min-width:1200px) {
        max-width: 1600px;
        height: 600px;

        background-image: url(../../images/hero/Header-desktop1x.jpg);
        background-position: center;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {

            background-image: url(../../images/hero/Header-desktop2x.jpg);
        }
    }

}

.hero__title {
    margin-bottom: 30px;

    color: $secondary-text-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    @extend %button;
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;

    text-decoration: none;
}